//COLOR VARAIBLES
$color-primary: #050505;
$color-primary-light: #00f2ff;
$color-grey: #0d0d0d;
$color-broder: #1a1a1a;
$color-heading: #a0a0a0; //      #484f4e;
$color-heading-1: #1b1c1c;
$color-heading-2: #151717;
$color-button: #1c1c1c;
$color-input: #626464;
// $color-

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-weight: 300;
  line-height: 1.6;
}

.container {
  background-color: $color-primary;
  font-family: $font-primary;
  display: grid;
  grid-template-rows:
    minmax(min-content, 5vw)
    min-content repeat(5, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(9, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
}
