.contact {
  // background-color: yellow;
  grid-column: center-start / center-end;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-top: 0.5px solid $color-heading;
  &__container {
    // background-color: red;
    display: grid;
    grid-template-columns: 1.1fr 1fr;

    &__right {
      background: linear-gradient(135deg, $color-heading-1, $color-heading-2);
      padding: 5rem;
      border-radius: 20px;
      border: 1px solid #111;
    }
  }

  &__title {
    font-size: 5rem;
    font-style: italic;
    font-weight: 900;
    color: white;
    margin-bottom: 2rem;
    span {
      color: $color-primary-light;
    }
  }
  &__text {
    font-size: 1.8rem;
    color: $color-heading;
    margin-bottom: 4rem;
    max-width: 50rem;
    font-weight: 500;
  }

  &__item {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    &__icon {
      padding: 0.5rem;
      width: 4.5rem;
      height: 4.5rem;
      fill: #00f2ff;
      transition: all 0.3s;
    }
    &__icon:hover {
      background-color: #262626;
      border-radius: 7px;
    }
  }
  &__label-1 {
    font-size: 1.3rem;
    color: $color-heading;
    font-weight: 900;
  }
  &__label-2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__form input,
  &__form select,
  &__form textarea {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: 1px solid #222;
    background: black;
    color: #fff;
    font-size: 1.6rem;
    outline: none;
    transition: 0.3s;
  }

  &__form input:focus,
  &__form select:focus,
  &__form textarea:focus {
    border-color: $color-primary-light;
    box-shadow: 0 0 10px rgba(0, 242, 255, 0.3);
  }

  &__form__row {
    display: flex;
    gap: 1.5rem;
  }
  &__form textarea {
    min-height: 15rem;
    resize: none;
  }
  &__form button {
    width: 100%;
  }
}
