.newsletter {
  padding-top: 10rem;
  padding-bottom: 10rem;
  grid-column: center-start / center-end;
  // background: $color-heading;
  display: flex;
  width: 100%;
  justify-content: center;

  &__container {
    width: 100%;
    // max-width: 100rem;
    padding: 6rem;
    border-radius: 20px;
    background: linear-gradient(135deg, $color-heading-1, $color-heading-2);
    backdrop-filter: blur(10px);

    text-align: center;

    &__icon {
      width: 4rem;
      height: 4rem;
      fill: $color-primary-light;
      margin-bottom: 2rem;
    }
    &__title {
      font-size: 4rem;
      font-weight: 900;
      margin-bottom: 2rem;
      color: white;
    }

    &__text {
      font-size: 1.8rem;
      font-weight: 500;
      max-width: 70%;
      margin: 0 auto 4rem;
      color: $color-heading;
    }

    &__form {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 3rem;

      input {
        width: 35%;
        padding: 1.5rem 2rem;
        border-radius: 10px;
        border: 1px solid black;
        background: $color-input;
        color: #fff;
        font-size: 1.6rem;
        outline: none;
        transition: 0.3s;
      }

      input:focus {
        border-color: $color-primary-light;
        box-shadow: 0 0 20px rgba(0, 242, 255, 0.3);
      }
    }

    &__secure {
      font-size: 1.2rem;
      font-weight: 500;
      color: $color-heading;
    }
  }
}
